/*
*  styles for class-related elements
 */
.cat-row {
    min-height: 35px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--clr-grey-9);
}

.cat-row-header{
    font-weight: bold;
    font-size: 14px;
    background-color: #e4f1fe;
}

.cat-row div {
    width: 25%;
}